<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->

<!--    <title>Edit</title>-->

<!--</head>-->
<!--<body>-->

<!--<h4> Edit user </h4>-->
<!--<form th:method="post" th:action="@{/admin/edit(id=${user.getId()})}" th:object="${user}">-->

<!--    <label for="username"> First Name  </label>-->
<!--    <input type="text" id="username" name="username" th:field="*{username}"/>-->

<!--    <label for="secondname"> Last Name </label>-->
<!--    <input type="text" id="secondname" name="secondname" th:field="*{secondname}"/>-->

<!--    <label for="age"> Age </label>-->
<!--    <input type="text" id="age" name="age" th:field="*{age}"/>-->

<!--    <label for="email"> Email </label>-->
<!--    <input type="text" id="email" name="email" th:field="*{email}"/>-->

<!--    <label for="password"> Password </label>-->
<!--    <input type="text" id="password" name="password" th:field="*{password}"/>-->

<!--    <label>Role-->
<!--        <input type="checkbox" name="roles"-->
<!--               th:each="roles : ${role}"-->
<!--               th:value="${roles.getId()}"-->
<!--               th:text="${roles.getName().replace('ROLE_', '') + ' '}"-->
<!--               th:field="*{roles}"-->
<!--        />-->
<!--    </label>-->
<!--    <br>-->

<!--    <br/>-->
<!--    <input type="submit" value="edit"/>-->
<!--</form>-->


<!--</body>-->
<!--</html>-->
